.header {
    padding: 20px;
    text-align:center;
    /*color:cyan;*/
    color:white;
    /*background-color: green;*/
    background-color: darkblue;
    font-size: 20px;
}

.logo {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
}